# --- App Settings ---
APP_TITLE="Core API - E-commerce"
APP_DESCRIPTION="Backend Core MVP"
APP_VERSION="1.0.0"

# --- Database Settings ---
DATABASE_URL="postgresql://admin:admin123@localhost:5432/ecommerce_core"

# --- Authentication (Clerk/Supabase) ---
JWT_SECRET_KEY="tu_clave_secreta_aqui"

# --- LLM API Keys ---
OPENAI_API_KEY="tu_clave_secreta_aqui"
DEEPSEK_API_KEY="tu_clave_secreta_aqui"
CLAUDECODE_API_KEY="tu_clave_secreta_aqui"