# --- App Settings ---
APP_TITLE="Economity API"
APP_DESCRIPTION="Backend Core MVP para el Hackathon"
APP_VERSION="1.0.0"

# --- Database Settings ---
# URL de conexión para el contenedor de PostgreSQL local (Podman/Docker)
DATABASE_URL="postgresql://economity_admin:economity_password@localhost:5432/economity_dev"

# --- Vector Database Settings ---
# URL de conexión para ChromaDB local
CHROMA_URL="http://localhost:8001"

# --- Authentication (Clerk) ---
JWT_SECRET_KEY="tu_clave_secreta_aqui"

# --- LLM API Keys ---
OPENAI_API_KEY="tu_clave_secreta_aqui"
DEEPSEEK_API_KEY="tu_clave_secreta_aqui"
CLAUDECODE_API_KEY="tu_clave_secreta_aqui"