---

import Layout from "../layouts/Layout.astro"
import Sidebar from "../components/Astro/Sidebar.astro"

---
<Layout title="">

	{/*<p class="Manrope">Why are we here? Just to suffer</p> */}
</Layout>

<style>

</style>