---

import Navbar from "../components/Astro/Navbar.astro"
import Layout from "../layouts/Layout.astro"
import Sidebar from "../components/Astro/Sidebar.astro"


---
<Layout title="">
	<Navbar />
	<Sidebar />

	{/*<p class="Manrope">Why are we here? Just to suffer</p> */}
</Layout>

<style>

</style>