---
import Layout from '../layouts/Layout.astro';
import VaultDashboard from '../components/React/Vault/VaultDashboard';
---

<Layout title="Mi Vault - Economity">
  <main class="min-h-screen bg-gray-50 p-4 md:p-8">
    {/* Montamos el dashboard en el cliente para que React lo hidrate */}
    <VaultDashboard client:load />
  </main>
</Layout>