---
import DashboardReact from '../React/Dashboard/Dashboard';
import DataCapture from '../React/Dashboard/DataCapture';
---

<div class="h-full overflow-y-auto">
  <div class="p-6 md:p-8 w-full">
    <DashboardReact client:load />
  </div>
  <div>
    <DataCapture client:load/>
  </div>
</div>
