---
import DashboardReact from '../React/Dashboard/Dashboard';
import DataCapture from '../React/Dashboard/DataCapture';
import Opportunities from '../React/Dashboard/Opportunities';
---

<div class="h-full overflow-y-auto">
  <div class="p-6 md:p-8 w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mb-6">
      <!-- left -->
      <div class="lg:col-span-2">
        <DashboardReact client:load />
      </div>
      <!-- right -->
      <div class="lg:col-span-1">
        <DataCapture client:load />
      </div>
    </div>
    <!-- bottom -->
    <div id="opportunities-section">
      <Opportunities client:load />
    </div>
  </div>
</div>
