---

---

<nav class="flex width-full align-center justify-between bg-amber-700">
  <div class="m-3">Economity</div>
  <div class="flex m-3">
    <div class="m-1">Notificaciones</div>
    <div class="m-1">Perfil</div>
  </div>
</nav>
