---
import dashboardIcon from "../../assets/dashboardIcon.png";
import portafolioIcon from "../../assets/portafolioIcon.png";
import insightIcon from "../../assets/insightsIcon.png";
import transactionsIcon from "../../assets/transactionIcon.png";
import communityIcon from "../../assets/community.png";


interface Props {
    currentTab?: string;
}

const { currentTab = 'dashboard' } = Astro.props;

const navItems = [
    { name: 'Dashboard', id: 'dashboard', icon: dashboardIcon },
    { name: 'Vault', id: 'vault', icon: portafolioIcon },
    { name: 'Community', id: 'community', icon: communityIcon },
    // { name: 'Insights', id: 'insights', icon: insightIcon },
    { name: 'Transactions', id: 'transactions', icon: transactionsIcon },
    { name: 'Chat', id: 'chat', icon: insightIcon },
];
---
<aside class="w-50 h-full bg-surface-container-lowest border-r border-outline-variant flex flex-col py-10">
    <nav class="flex flex-col w-full space-y-1">
        {navItems.map((item) => {
            const isActive = currentTab === item.id;
            return (
                <a 
                    href={`?tab=${item.id}`} 
                    class={`group relative py-4 flex justify-start gap-3 font-display font-semibold transition-all duration-300 px-6 ${
                        isActive ? "text-secondary bg-momentum-glow" : "text-on-surface/50 hover:text-secondary hover:bg-momentum-glow"
                    }`}
                >
                    <img src={item.icon.src} alt={item.name} class={`w-5 h-5 transition-opacity duration-300 ${isActive ? "opacity-100" : "opacity-50 group-hover:opacity-100"}`} />
                    
                    <span>{item.name}</span>
                    
                    {/* Right Glowing Border Indicator */}
                    <span class={`absolute right-0 top-0 h-full w-1 bg-secondary transition-all duration-300 ${
                        isActive ? "opacity-100 shadow-[0_0_15px_var(--color-secondary-fixed-dim)]" : "opacity-0 group-hover:opacity-100 group-hover:shadow-[0_0_15px_var(--color-secondary-fixed-dim)]"
                    }`}>
                    </span>
                </a>
            )
        })}
    </nav>
</aside>

<style>
</style>