---
import dashboardIcon from "../../assets/dashboardIcon.png";
import portafolioIcon from "../../assets/portafolioIcon.png";
import insightIcon from "../../assets/insightsIcon.png";
import transactionsIcon from "../../assets/transactionIcon.png";

const navItems = [
    { name: 'Dashboard', icon: dashboardIcon },
    { name: 'Portafolio', icon: portafolioIcon },
    { name: 'Insight', icon: insightIcon },
    { name: 'Transactions', icon: transactionsIcon },
];
---
<aside class="w-64 h-full min-h-screen bg-surface-container-lowest border-r border-outline-variant flex flex-col py-10">
    <nav class="flex flex-col w-full space-y-1">
        {navItems.map((item) => (
            <a 
                href="#" 
                class="group relative py-4 flex justify-start gap-3 text-on-surface/50 font-display font-semibold transition-all duration-300 
                       hover:text-secondary hover:bg-momentum-glow px-6 hover:"
            >
                <img src={item.icon.src} alt={item.name} class="w-5 h-5 opacity-50 group-hover:opacity-100 transition-opacity duration-300" />
                
                <span>{item.name}</span>
                
                {/* Right Glowing Border Indicator */}
                <span class="absolute right-0 top-0 h-full w-1 bg-secondary opacity-0 transition-all duration-300 
                             group-hover:opacity-100 group-hover:shadow-[0_0_15px_var(--color-secondary-fixed-dim)]">
                </span>
            </a>
        ))}
    </nav>
</aside>

<style>
</style>