---
const ListaT = [];
---

<div
  class="bg-color-surface-container-low flex-col items-center justify-center"
>
  <h3 class="text-black">Historial de Movimientos Inteligente</h3>
  <p>Tus finanzas clasificadas automáticamente por IA✨</p>

  <div class="flex">
    <!-- Filtros -->
    <div class="flex">
      <div class="flex">
        <button>All</button>
        <button>Income</button>
        <button>Expenses</button>
        <p>Categories:</p>
        <ul></ul>
        <p>Date range</p>
      </div>

      <!-- Lista de movimientos (ListaT) -->
      <div class="flex-col"></div>
    </div>

    <div class="flex-col">
      <p>Monthly Summary</p>
      <div class="flex">
        <div class="col">
          <p>Total Income</p>
          <p>$0.00</p>
        </div>
        <img src="" alt="" />
      </div>
      <div class="flex">
        <div class="col">
          <p>Total Expenses</p>
          <p>$0.00</p>
        </div>
        <img src="" alt="" />
      </div>
      <div>
        Wealth momentum
        
      </div>
    </div>
  </div>
</div>

<style></style>
