---
import VaultDashboard from "../React/Vault/VaultDashboard";
const ListaT = [];
---

<div
  class="bg-color-surface-container-low flex-col items-center justify-center"
>
  <VaultDashboard client:load />
</div>

<style></style>
